html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

input:focus, select:focus, textarea:focus, button:focus { outline: none; }

/* Theme Name: FHCA, Author: Mike, Version: 1.0 */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }

.alignleft { display: inline-block; float: left; margin-right: 1.5em; }

.alignright { display: inline-block; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin: 15px auto; }

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ''; display: table; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

.widget { margin: 0 0 1.5em; }

.widget select { max-width: 100%; }

.widget_search .search-submit { display: none; }

.byline, .updated { display: none; }

.single .byline, .group-blog .byline { display: inline; }

.page-content, .entry-summary { margin: 1.5em 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

.blog .format-aside .entry-title, .archive .format-aside .entry-title { display: none; }

.comment-content a { word-wrap: break-word; }

.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

embed, iframe, object { max-width: 100%; }

.wp-caption { margin-bottom: 1.5em; max-width: 100%; }

.wp-caption img[class*="wp-image-"] { display: block; margin: 0 auto; }

.wp-caption-text { text-align: center; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

body { background-color: white; color: black; min-width: 320px; }

hr { border: 0; height: 0; margin: 20px 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

h1, h2, h3, h4, h5, h6 { font-family: "PT Sans", sans-serif; font-weight: 700; margin: 0; padding: 0; }

h1 { text-transform: uppercase; font-size: 72px; color: #142858; }

h2 { font-size: 46px; color: #565656; }

h3 { font-size: 36px; color: #21376e; margin: 20px 0; }

h4 { color: #5b668b; font-family: "Crimson Text", serif; font-size: 29px; font-weight: 400; margin: 20px 0; }

h5 { font-size: 24px; }

h6 { font-size: 26px; margin: 25px 0 10px 0; }

p { font-family: "Crimson Text", serif; font-size: 24px; color: #6d6e71; margin: 0; }

ul { font-family: "Crimson Text", serif; }

ol { font-family: "Crimson Text", serif; }

li { font-size: 24px; color: #6d6e71; margin: 10px 0; }

button { font-family: "PT Sans", sans-serif; padding: 0; font-size: 24px; margin: 20px 0; border: 1px #21376e solid; border-radius: 10px; background-color: rgba(255, 255, 255, 0.5); }
button:hover { background-color: #21376e; color: white; }
button:hover a { text-decoration: none; color: white; }
button a { display: block; padding: 9px 20px; color: #21376e; }

img { margin: 20px 0; height: auto; max-width: 100%; }

a { color: #21376e; text-decoration: none; line-height: 1; }
a:hover { text-decoration: underline; }
a:visited { color: #21376e; }

::-moz-selection { background-color: #91b1dd; color: white; }

::selection { background-color: #91b1dd; color: white; }

.clearfix:after { content: ""; display: table; clear: both; }

.header-contain { padding: 0 5%; margin: 0 auto; max-width: 2000px; }

.header-super-contain { padding: 0 5%; margin: 0 auto; max-width: 2000px; background-color: #142858; }

#fixed-nav { height: 40px; width: 100%; background: red; position: fixed; display: none; z-index: 19; }

#header-wrapper { position: relative; height: 150px; z-index: 20; -webkit-transform: translateZ(1px); transform: translateZ(1px); }

#nav-bar { background-color: #21376e; width: 100%; min-height: 150px; position: absolute; -webkit-transition: height 0.3s cubic-bezier(0.36, 0.06, 0.14, 1.45); transition: height 0.3s cubic-bezier(0.36, 0.06, 0.14, 1.45); }

#super-nav { position: relative; width: 100%; height: 46px; background-color: #142858; }
#super-nav ul { float: right; margin: 0; height: 30px; padding: 8px 0; }
#super-nav li { display: inline-block; vertical-align: middle; list-style-type: none; font-family: "Crimson Text", serif; font-size: 16px; margin: 0 0 0 8px; }
#super-nav a { color: #cccccc; }
#super-nav a:visited { color: #cccccc; }

.search { margin: 0; height: 30px; vertical-align: middle; }
.search form { height: 30px; }
.search input[type='text'] { background-color: #21376e; border-radius: 20px; border: none; height: 30px; width: 120px; color: white; font-size: 16px; padding: 0 14px; margin-right: 2px; border: 2px solid #21376e; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: border 0.7s ease; transition: border 0.7s ease; }
.search input[type='text']::-webkit-input-placeholder { color: #cccccc; }
.search input[type='text']:focus { border: 2px solid rgba(145, 177, 221, 0.5); }
.search input[type='image'] { vertical-align: top; width: 30px; height: 30px; }

.site-branding { float: left; color: white; height: 80px; width: auto; margin: 9px 0 0 0; }
.site-branding img { margin: 0; height: 80px; width: 80px; }
.site-branding a { display: block; }

#slogan { display: inline-block; vertical-align: top; height: 80px; line-height: 80px; color: white; }
#slogan span { display: inline-block; line-height: 1; vertical-align: middle; font-size: 30px; font-weight: 700; padding-left: 12px; }
#slogan span span { font-weight: 400; padding: 0; }

#menu-button { display: none; }

.height { height: 350px !important; }

nav { height: 104px; width: auto; float: right; -webkit-transition: height 0.3s cubic-bezier(0.36, 0.06, 0.14, 1.45); transition: height 0.3s cubic-bezier(0.36, 0.06, 0.14, 1.45); }
nav:hover { height: 401px; }
nav:hover .main-nav { opacity: 0.5; }
nav:hover .sub-nav { visibility: visible; }

.main-nav { float: left; margin: 0; padding-left: 25px; opacity: 1; -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; }
.main-nav a { display: block; padding: 0; font-size: 26px; font-weight: 700; line-height: 104px; color: white; }
.main-nav a:visited { color: white; }
.main-nav ul { position: absolute; }
.main-nav li { font-family: "PT Sans", sans-serif; list-style-type: none; margin: 0; }
.main-nav hr { display: none; }

.sub-nav { visibility: hidden; height: 286px; margin-top: -25px; padding: 0 30px 0 0; opacity: 0; -webkit-transition: opacity 0.2s ease; transition: opacity 0.2s ease; }
.sub-nav li { padding: 3px 0; color: white; }
.sub-nav a { font-family: "PT Sans", sans-serif; font-size: 20px; font-weight: 400; line-height: 20px; cursor: pointer; }
.sub-nav a:hover { text-decoration: underline; }
.sub-nav a:visited { color: white; }

#elder-care:hover, #aging:hover, #care-options:hover, #stories:hover { opacity: 1; }
#elder-care:hover .sub-nav, #aging:hover .sub-nav, #care-options:hover .sub-nav, #stories:hover .sub-nav { opacity: 1; }

#home-contain { width: 80%; margin: 23px auto; }

.feature { width: 65.95%; margin-right: 2.05%; height: 400px; float: left; position: relative; -webkit-background-size: cover cover; background-size: cover; background-position: center center; }
.feature div { width: 50%; margin: 23px; }
.feature h2 { color: #21376e; font-size: 56px; line-height: 1; }
.feature p { color: black; font-size: 16px; background-color: rgba(255, 255, 255, 0.5); margin: 7px; padding: 10px; }
.feature button { position: absolute; bottom: 0; }

aside { width: 32%; margin-top: 20px; float: right; }
aside h2 { text-align: center; font-size: 36px; margin-bottom: 15px; }
aside ul { padding: 0; margin: 0; }
aside ul:hover div > i, aside ul:hover h6, aside ul:hover p { opacity: 0.5; }
aside .fa { color: #21376e; }
aside a { display: block; }
aside a:hover { text-decoration: none; }
aside a:hover div > i, aside a:hover h6, aside a:hover p { opacity: 1; }
aside div { float: left; margin-right: 15px; }
aside div > i { opacity: 1; -webkit-transition: opacity 0.2s ease; transition: opacity 0.2s ease; }
aside li { list-style-type: none; padding-top: 15px; margin: 0; }
aside li h6 { font-size: 18px; color: #21376e; margin: 0 0 5px 0; opacity: 1; -webkit-transition: opacity 0.2s ease; transition: opacity 0.2s ease; }
aside li p { font-size: 16px; opacity: 1; -webkit-transition: opacity 0.2s ease; transition: opacity 0.2s ease; }
aside li:hover { color: #91b1dd; }
aside button { margin: 17px auto 0 auto; display: block; }

.boxes { width: 68%; clear: left; }

.box { width: 30.33%; height: 163px; margin: 3% 3% 0 0; float: left; background-color: #21376e; -webkit-background-size: cover cover; background-size: cover; background-position: right center; }
.box a { display: block; height: 163px; line-height: 163px; background-color: rgba(33, 55, 110, 0.4); }
.box a:hover { background-color: rgba(231, 191, 82, 0.5); }
.box a:focus { background-color: rgba(231, 191, 82, 0.5); }
.box span { font-size: 28px; font-weight: 700; text-align: center; color: white; margin: 8%; display: inline-block; vertical-align: middle; line-height: normal; }

#main { position: relative; width: 100%; }

.title { width: 100%; text-align: center; margin: 23px 0; line-height: 1; }

.icon-fa { display: block; color: #21376e; text-align: center; }

.side-nav { width: 20%; height: 100%; padding-top: 100px; position: absolute; top: 0; left: 0; background-color: #142858; }
.side-nav a { color: white; font-size: 18px; letter-spacing: 0.8px; padding: 16px 16px 16px 25%; display: block; }
.side-nav a:hover { background-color: rgba(145, 177, 221, 0.8); text-decoration: none; }
.side-nav li { list-style-type: none; margin: 0; }
.side-nav .current_page_item { background-color: #91b1dd; }
.side-nav .current_page_item a { font-weight: 700; }

.side-hero { width: 20%; height: 100%; position: fixed; right: 0; top: 0; opacity: 0.3; -webkit-background-size: cover cover; background-size: cover; background-position: center center; }
.side-hero img { margin: 0; }

.landing-grid { max-width: 940px; margin: 23px auto; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.grid-item { width: 33%; min-width: 284px; margin: 3px 3px 0 0; }
.grid-item a { display: block; background-color: #eff4f6; padding: 23px 0; }
.grid-item a:hover { text-decoration: none; background-color: #dce7ec; }
.grid-item .title { height: 72px; display: table; margin: 0 0 23px 0; }
.grid-item .title h3 { display: table-cell; vertical-align: middle; padding: 0 3px; }

.entry-content { min-height: 800px; }

article { padding: 35px 0 0 0; width: 60%; margin: 0 20%; position: relative; background-color: white; }
article ul { padding: 0; }
article ul:after { content: ""; display: table; clear: both; }
article li { padding: 10px 0 0 13px; list-style-type: square; list-style-position: inside; }
article a { font-weight: 700; }
article img { width: 100%; height: auto; }

#contain { width: 90%; margin: 0 auto 45px auto; }
#contain.search-results article { margin: 0 0 0 5%; }

#more-info { margin: 15px 0 0 0; padding: 40px 2.5%; background-color: #e9e8e8; text-align: center; }
#more-info ul { padding: 0; margin: 0; }
#more-info li { list-style-type: none; margin: 0 0 20px 0; padding: 0; font-size: 26px; line-height: 100%; }

.fa { line-height: inherit; }

.entry-footer { background: inherit; text-align: left; }

.large-search { width: 100%; text-align: center; padding: 35px 0; background-color: #91b1dd; }
.large-search input[type='text'] { width: 240px; background-color: white; color: black; border: 2px solid #91b1dd; }
.large-search input[type='text']:focus { border: 2px solid #21376e; }

footer { width: 100%; background-color: #21376e; color: white; position: relative; -webkit-transform: translateZ(1px); transform: translateZ(1px); }
footer div { width: 80%; margin: 0 auto; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-flex-flow: row wrap; }
footer ul { list-style: none; padding: 35px 10px; max-width: 214px; }
footer ul li { margin: 0; padding: 3px 0; font-family: "PT Sans", sans-serif; font-size: 20px; opacity: 1; }
footer ul a { color: white; }
footer ul a:visited { color: white; }

#sponsor { margin: 239px 0 0 0; }
#sponsor h5 { font-size: 16px; font-weight: 400; }
#sponsor img { margin: 10px 0 0 0; width: 191px; }
#sponsor a { display: block; }

#mobile-footer { display: none; }

@media only screen and (max-width: 1024px) { #fixed-nav { display: none; }
  .header-contain { padding: 0 3%; margin: 0 auto; max-width: 2000px; }
  .header-super-contain { padding: 0 3%; margin: 0 auto; max-width: 2000px; background-color: blue; }
  #nav-bar { height: 150px; }
  #slogan span { font-size: 28px; padding-left: 4px; }
  .main-nav { padding-left: 15px; }
  .main-nav a { font-size: 24px; }
  nav:hover { height: 104px; }
  nav:hover .main-nav { opacity: 1; }
  .sub-nav { display: none; }
  #home-contain { width: 92%; margin: 15px auto; }
  .feature { width: 66%; margin-right: 2%; }
  .feature h2 { font-size: 46px; }
  .side-nav a { padding: 16px 16px 16px 15%; }
  #contain { width: 80%; }
  footer div { width: 95%; } }
@media only screen and (max-width: 768px) { h1 { font-size: 54px; }
  h4 { padding: 0 45px; }
  .header-contain { padding: 0 2%; }
  .header-super-contain { padding: 0 2%; margin: 0 auto; background-color: green; }
  #slogan span { font-size: 24px; }
  .main-nav { padding-left: 10px; }
  .main-nav a { font-size: 22px; }
  #home-contain { width: 96%; margin: 15px auto; }
  .feature { width: 100%; margin-right: 0; background-position: left center; }
  .feature div { margin: 20px; }
  .feature h2 { font-size: 46px; }
  aside { width: 50%; }
  .boxes { width: 50%; }
  .box { width: 97%; }
  .side-nav { width: 30%; }
  .side-nav a { padding: 12px 12px 12px 6.666%; }
  article { width: 70%; margin: 0 0 0 30%; }
  .side-hero { display: none; }
  .entry-content div { overflow: visible; }
  .entry-content ul { overflow: visible; }
  #contain { width: 88%; }
  .alignleft { float: left; margin: 0 1.5em 1em -5%; }
  .alignright { float: right; margin-left: 1.5em; margin: 0 -5% 1em 1.5em; }
  footer div { width: 75%; -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  footer ul { width: 214px; padding: 0; }
  #sponsor { margin: 232px 0 0 0; } }
@media only screen and (max-width: 675px) { .header-super-contain { background-color: orange; }
  #nav-bar { overflow: hidden; }
  #menu-button { display: block; float: right; position: relative; }
  #menu-button span { color: white; line-height: 104px; opacity: 0; }
  #menu-button:before { content: ""; position: absolute; left: 0; top: 2.3em; width: 2em; border-radius: 1em; height: 0.3em; background: white; -webkit-box-shadow: 0 0.7em 0 0 white, 0 1.4em 0 0 white; box-shadow: 0 0.7em 0 0 white, 0 1.4em 0 0 white; }
  nav { float: none; height: auto; }
  .main-nav { display: block; float: none; clear: both; padding: 0; text-align: right; }
  .main-nav li { padding: 0 35px 0 0; }
  .main-nav a { line-height: 1; }
  .main-nav:before { content: ""; display: block; border: 0; height: 2px; margin: 10px 0; background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))); background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0.6) 100%); background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0.6) 100%); }
  .feature { height: 300px; }
  .feature div { width: 60%; }
  aside { width: 60%; }
  .boxes { width: 40%; }
  .box { width: 97%; }
  .side-nav a { padding: 10px 10px 10px 6.666%; }
  footer div { width: 90%; -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  footer ul { width: 214px; padding: 0; }
  #sponsor { margin: 218px 0 0 0; } }
@media only screen and (max-width: 480px) { .header-super-contain { padding: 0 1%; float: none; margin: 0 auto; max-width: 2000px; background-color: red; }
  #super-nav li { font-size: 14px; }
  .search input[type='text'] { width: 130px; }
  #home-contain { width: 100%; margin-top: 0; }
  h1 { font-size: 44px; }
  .feature { height: 200px; position: relative; margin-bottom: 10px; }
  .feature div { width: 100%; margin: 0; }
  .feature h2 { font-size: 36px; width: 63%; margin: 10px 0 0 10px; }
  .feature p { position: absolute; bottom: 0; padding: 3%; margin: 0; background-color: rgba(255, 255, 255, 0.7); }
  .feature button { display: none; }
  aside { width: 100%; }
  aside ul { margin: 10px; }
  aside ul:hover div > i, aside ul:hover h6, aside ul:hover p { opacity: 1; }
  .boxes { width: 100%; margin: 0 auto; }
  .box { width: 94%; margin: 3% 3% 0 3%; }
  .side-nav { display: none; }
  .side-nav a { padding: 12px 12px 12px 6.666%; }
  .landing-grid { max-width: 940px; margin: 0; display: block; }
  article { width: 100%; margin: 23px 0; }
  .grid-item { width: 1.5%; min-width: 97%; }
  #more-info { margin: 15px 0 0 0; }
  footer { display: none; }
  #mobile-footer { display: block; height: 150px; margin: 0; }
  #mobile-footer #sponsor { margin: 0; width: 100%; }
  #mobile-footer #sponsor h5 { margin-top: 20px; color: white; }
  #mobile-footer #sponsor a { margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */