#fixed-nav {
	display: none;
}

.header-contain {
	padding: 0 3%;
	margin: 0 auto;
	max-width: 2000px;
}

.header-super-contain {
	padding: 0 3%;
	margin: 0 auto;
	max-width: 2000px;
}

#nav-bar {
	height: 150px;	
}

.slogan span {
	font-size: 28px;
	padding-left: 4px;
}

.desktop {
	display: none;
}

.mobile {
	display: inline-block;
	
	span {
		line-height: 0.9;
	}
}


nav {
	
	&:hover {
		height: 104px;
		
		.main-nav {
			opacity: 1;
		}
	}
}
.sub-nav {
	display: none;	
}

#home-contain {
	width: 92%;
	margin: 15px auto;
}

.feature {
	 width: 66%;
	 margin-right: 2%;
	 
	 h2 {
		 font-size: 28px;
	 }
}

.side-nav {
	
	a {
		padding: 16px 16px 16px 15%;
	}
}

#contain {
	width: 80%;
}

footer {
	 
	 div {
		 width: 95%;
	 }
}