#fixed-nav {
	display: none;
}

.header-contain {
	padding: 0 3%;
	margin: 0 auto;
	max-width: 2000px;
}

.header-super-contain {
	padding: 0 3%;
	margin: 0 auto;
	max-width: 2000px;
	//background-color: $darkblue;
	background-color: blue;
}

nav {
	
	&:hover {
		min-height: 104px;
		
		.main-nav {
			opacity: 1;
		}
	}
}
.sub-nav {
	display: none;	
}

#home-contain {
	width: 88%;
	margin: 15px auto;
}

.feature {
	 width: 66%;
	 margin-right: 2%;
	 
	 div {
	 }
	 
	 h2 {
		 font-size: 46px;
	 }
}

#contain {
	width: 80%;
}

footer {
	 
	 div {
		 width: 95%;
	 }
}