.header-super-contain {
	padding: 0 1%;
	float: none;
	margin: 0 auto;
	max-width: 2000px;
}

#super-nav li {
	font-size: 14px;
}

.search {
	
	input[type='text'] {
	
	}
	
	input[type='submit'] {
		padding: 0;
	}
}

#menu-button {
	margin-right: 1%;
}

#home-contain {
	width: 100%;
}

h1 {
	font-size: 38px;
}

h3 {
	font-size: 26px;
}

li {
	font-size: 18px;
}

.feature {
	height: 200px;
	position: relative;
	margin-bottom: 18px;
	
	div {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	h1 {
		font-size: 26px;
		width: 96%;
		margin: 0;
		padding: 4% 2%;
	}
	
	a {
		padding: 12px 16px;
	}
}

.boxes {
	width: 100%;
	margin: 0 auto;
	
	> h2 {
		margin-left: 3%;
	}
}

.boxes h2, aside h2 {
	font-size: 28px;
}

.box {
	width: 94%;
	margin: 3% 3% 0 3%;
}

.side-nav {
	display: none;
	
	a {
		padding: 12px 12px 12px 6.666%;
	}
}

.landing-grid {
	max-width: 940px;
	margin: 0;
	display: block;
}

.landing-content {
	
	p {
		font-size: 20px;
	}
}

.one-line {
	margin: 0;
}

article {
	width: 100%;
	margin: 23px 0 0 0;
	padding: 0;
	
	p {
		font-size: 20px;	
	}
}

.grid-item {
	width: 70%;
	margin: 0 auto;
	
	.title {
		height: 52px;
	}
}

#more-info {
	margin: 15px 0 0 0;
	
	li {
		font-size: 20px;	
	}
	
	a {
		font-size: 20px;
	}
}

.page-results-nav {
	width: 100%;	
}

.story-title {
	width: 100%;
	margin: 0 auto;
}

footer {
	display: none;	
}


#mobile-footer {
	display: block;
	height: 150px;
	margin: 0;
	
	#sponsor {
		margin: 0;
		width: 100%;
	
		h5 {
			margin-top: 20px;
			color: white;
		}
		
		a {
			margin: 0 auto;
		}
	}
}


