.header-super-contain {
	padding: 0 1%;
	float: none;
	margin: 0 auto;
	max-width: 2000px;
}

#super-nav li {
	font-size: 14px;
}

.search {
	
	input[type='text'] {
	
	}
	
	input[type='submit'] {
		padding: 0;
	}
}

#menu-button {
	margin-right: 1%;
}

#home-contain {
	width: 100%;
	margin-top: 0;
}

h1 {
	font-size: 44px;
}

.feature {
	height: 280px;
	position: relative;
	margin-bottom: 10px;
	
	div {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	h2 {
		font-size: 30px;
		width: 96%;
		margin: 0;
		padding: 2%;
	}
	
	p {
		display: none;
	}
	
	button {
		left: 0;
		right: 0;
		display: block;
		width: 170px;
		height: 40px;
		margin: 0 auto;
		bottom: -20px;
		
		a {
			padding: 0;
		}
	}
}

aside {
	width: 100%;
	
	ul {
		margin: 10px;
		
		&:hover {
		
			div>i, h6, p {
				opacity: 1;
			}
		}
	}
}

.boxes {
	width: 100%;
	margin: 0 auto;
}
	
.box {
	width: 94%;
	margin: 3% 3% 0 3%;
}

.side-nav {
	display: none;
	
	a {
		padding: 12px 12px 12px 6.666%;
	}
}

.landing-grid {
	max-width: 940px;
	margin: 0;
	display: block;
}

.one-line {
	margin: 0;
}

article {
	width: 100%;
	margin: 23px 0;
}

.grid-item {
	width: 70%;
	margin: 0 auto;
}

#more-info {
	margin: 15px 0 0 0;
}

footer {
	display: none;	
}


#mobile-footer {
	display: block;
	height: 150px;
	margin: 0;
	
	#sponsor {
		margin: 0;
		width: 100%;
	
		h5 {
			margin-top: 20px;
			color: white;
		}
		
		a {
			margin: 0 auto;
		}
	}
}


