#nav-bar {
	overflow: hidden;
	
}

//======== MENU BUTTON STYLE ========//

#menu-button {
	display: block;
	float: right;
	position: relative;
	opacity: 1;
	width: 30px;
	height: 104px;
	
	
	i {
		color: white;
		vertical-align: middle;
		line-height: 104px;
		transition: opacity 0.2s ease;
		padding: 0;
	}	
}

.hidden {
	opacity: 0;
}

nav {
	float: none;
	height: auto;
	
}

.main-nav {
	display: block;
	float: none;
	clear: both;
	padding: 0;
	text-align: right;
	
	li {
		padding: 0 10px 0 0;
		
	}
	
	a {
		line-height: 1;
	}
	
	&:before {
		content: "";
		display: block;
		border: 0;
		height: 2px;
		margin: 10px;
		background-image: linear-gradient( to right, rgba(255,255,255,0) 40%, rgba(255,255,255,0.6) 80%, rgba(255,255,255,0.6) 100%);
	}
}

.slogan span {
	font-size: 30px;
}


.feature {
	height: 350px;
	
	h2 {
		font-size: 24px;	
	}	
}

aside {
	width: 60%;
}

.boxes {
	width: 40%;
}
	
.box {
    width: 97%;
}

.side-nav {
	
	a {
		padding: 10px 10px 10px 6.666%;
	}
}

.button-row {
		
    :first-child {
        border-radius: 0;
    }

    :last-child {
        border-radius: 0;
    }
}

.landing-content {
	width: 80%;
}

footer {
	 
	 div {
		 width: 90%;
		 justify-content: space-between;
	 }
	 
	 ul {
		 width: 214px;
		 padding: 0;
	 }
}

#sponsor {
	margin: 218px 0 0 0;
}