.slogan span {
	font-size: 30px;
}

.home .site-content {
	background: none;
	background-image: linear-gradient(to bottom, white 60%, #FAF9F7 60%)
}

.feature {
	height: 350px;
}

.feature-text {

	h1 {
		font-size: 27px;
		width: calc(100% - 220px);
	}
	
	p {
		font-size: 17px;
		width: calc(100% - 220px);
	}
	
	a {
		margin-top: -21px;
		font-size: 18px;
		width: 160px;
		padding: 15px 24px;
	}
}

aside {
	width: 94%;
	margin: 0 3%;
}

.boxes {
	width: 100%;
}
	
.box {
    width: 100%;
    height: 200px;
}

.blog-preview {
	width: 94%;
	margin: 50px 3%;
}

.side-nav {
	
	a {
		padding: 10px 10px 10px 6.666%;
	}
}
#home-contain {
	
	aside div+div {
		width: calc(100% - 4.4em);
	}
	
	.fa-stack {
		font-size: 2em;
	}
}

.button-row {
		
    :first-child {
        border-radius: 0;
    }

    :last-child {
        border-radius: 0;
    }
}

.landing-content {
	width: 80%;
}

footer {
	 
	 div {
		 width: 90%;
		 justify-content: space-between;
	 }
	 
	 ul {
		 width: 214px;
		 padding: 0;
	 }
}

#sponsor {
	margin: 218px 0 0 0;
}