h1 {
	font-size: 54px;	
}

h4 {
	padding: 0 45px;
}

.header-contain {
	padding: 0 2%;
}

.header-super-contain {
	padding: 0 2%;
	margin: 0 auto;
}


.slogan span {
	font-size: 24px;
}


.main-nav {
	padding-left: 7px;
	
	a {
	}
}

#home-contain {
	width: 96%;
	margin: 15px auto;
}

.feature {
	width: 100%;
	float: none;
	margin: 0;
	 
	 h2 {
		 font-size: 25px;
	 }
}

aside {
	width: 50%;
}

.boxes {
	width: 50%;
	margin-top: 18px;
}
	
.box {
	width: 92%;
	height: 178px;
}

.side-nav {
	width: 30%;
	
	a {
		padding: 12px 12px 12px 6.666%;
	}
}

article {
	width: 70%;
	margin: 0 0 0 30%;
}

.side-hero {
	display: none;
}

.entry-content {
	
	div {
		overflow: visible;
	}
	
	ul {
		overflow: visible;
	}
}

#contain {
	width: 88%;
}

.alignleft {
	float: left;
	margin: 0 1.5em 1em -5%;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin: 0 -5% 1em 1.5em;
}

.story-title {
	width: 70%;
	margin: 0 0 0 30%;
}


.page-results-nav {
	width: 70%;
	margin: 35px 0 35px 30%;
}

footer {
	 
	 div {
		 width: 75%;
		 justify-content: space-between;
	 }
	 
	 ul {
		 width: 214px;
		 padding: 0;
	 }
	 
	 h5 {
		 font-size: 20px;
	 }
}

#sponsor {
	margin: 22px 0 0 0;
}