h1 {
	font-size: 54px;	
}

h4 {
	padding: 0 45px;
}

.header-contain {
	padding: 0 2%;
}

.header-super-contain {
	padding: 0 2%;
	margin: 0 auto;
	//background-color: $darkblue;
	background-color: green;
}


#slogan span {
	font-size: 24px;
}

.main-nav {
	padding-left: 10px;
	
	a {
		font-size: 22px;
	}
}

#home-contain {
	width: 96%;
	margin: 15px auto;
}

.feature {
	width: 100%;
	margin-right: 0;
	background-position: left center;
	 
	 div {
		 margin: 20px;
	 }
	 
	 h2 {
		 font-size: 46px;
	 }
}

aside {
	width: 50%;
}

.boxes {
	width: 50%;
}
	
.box {
	width: 97%;
}

.entry-content {
	
	div {
		overflow: visible;
	}
	
	ul {
		overflow: visible;
	}
}

#contain {
	width: 88%;
}

.alignleft {
	float: left;
	margin: 0 1.5em 1em -5%;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin: 0 -5% 1em 1.5em;
}

footer {
	 
	 div {
		 width: 75%;
		 justify-content: space-between;
	 }
	 
	 ul {
		 width: 214px;
		 padding: 0;
	 }
}