h1 {
	font-size: 54px;	
}

h4 {
	padding: 0 45px;
}

#super-nav {
	background: green;
	
	ul {
		margin: 0 2%;
	}
}

.site-branding {
	margin: 15px 0 0 2%;	
}

nav {
	padding-right: 2%;
	float: none;
}

.main-nav {
	padding-left: 15px;
	float: none;
	
	a {
		line-height: 1;
		text-align: right;
	}
}

.entry-content {
	
	div {
		overflow: visible;
	}
}

#contain {
	width: 88%;
}

.alignleft {
	float: left;
	margin: 0 1.5em 1em -5%;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin: 0 -5% 1em 1.5em;
}

footer {
	 
	 div {
		 width: 75%;
		 justify-content: space-between;
	 }
	 
	 ul {
		 width: 214px;
		 padding: 0;
	 }
}