@import 'normalize';
@import 'wp_styles';

// ======== VARIABLES ======== //

$lightblue: #91B1DD; // RGB = 145,177,221
$blue: #21376E; // RGB = 33,55,110
$darkblue: #142858; // RGB = 20,40,88
$darktext: #ccc; // RGB = 204,204,204

$titlefont: 'PT Sans', sans-serif;
$bodyfont: 'Crimson Text', serif;

//======== GLOBAL TAG SELECTORS ========//

body {
	background-color: white;
	color: black;
}

hr {
	border: 0;
    height: 2px;
    margin: 40px 0;
    background-image: linear-gradient(left, rgba(111,111,111,0), rgba(111,111,111,0.75), rgba(111,111,111,0)); 	
}

h1,h2,h3,h4,h5,h6 {
	font-family: $titlefont;
	font-weight: 700;
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 72px;
	color: $darkblue;
}

h2 {
	font-size: 46px;
	color: #565656;
}

h3 {
	font-size: 46px;
	color: $blue;
	margin: 20px 0;
	text-align: center;
}

h4 {
	color: #5b668b;
	font-family: $bodyfont;
	font-size: 35px;
	font-weight: 400;
	text-align: center;
	margin: 20px 0;
	padding: 0 85px;
}

h5 {
	//Footer List Headers
	font-size: 24px;
}

h6 {
	font-size: 26px;
	margin: 25px 0 10px 0;
	
}


p {
	font-family: $bodyfont;
	font-size: 24px;
	color: #6d6e71;
	margin: 0;
}

span {

}

ul {
	font-family: $bodyfont;
}

ol {
	font-family: $bodyfont;
	
}

li {
	font-size: 24px;
	color: #6d6e71;
	margin: 10px 0;
}

button {
	font-family: $titlefont;
	padding: 0;
	font-size: 24px;
	margin: 20px 0;
	border: 1px $blue solid;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	
	&:hover {
			background-color: $blue;
			color: white;
			
			a {
				text-decoration: none;
				color: white;
			}
	}
	
	a {
		display: block;
		padding: 9px 20px;
		color: $blue;
	}
	
	
}

img {
	margin: 20px 0;
	height: auto;
	max-width: 100%;
}

a {
	color: $blue;
	text-decoration: none;
	line-height: 1;
	
	&:hover {
		text-decoration: underline;
	}
	
	&:visited {
		color: $blue;
	}
}

::selection {
		background-color: $lightblue;
		color: white;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//======== HEADER STYLE ========//

.header-contain {
	padding: 0 5%;
	margin: 0 auto;
	max-width: 2000px;
}

.header-super-contain {
	padding: 0 5%;
	margin: 0 auto;
	max-width: 2000px;
	background-color: $darkblue;
}

#fixed-nav {
	height: 40px;
	width: 100%;
	background: red;
	position: fixed;
	display: none;
	z-index: 19;
}

#header-wrapper {
	position: relative;
	height: 150px;
	z-index: 20;
}

header[role="banner"] {
	background-color: $blue;
	width: 100%;
	min-height: 150px;
	position: absolute;
}

#super-nav {
	position: relative;
	width: 100%;
	height: 46px;
	background-color: $darkblue;
	
	ul {
		float: right;
		margin: 0;
		height: 30px;
		padding: 8px 0;
	}
	
	li {
		display: inline-block;
		vertical-align: middle;
		list-style-type: none;
		font-family: $bodyfont;
		font-size: 16px;
		margin: 0 0 0 8px;
	}
	
	a {
		color: $darktext;
		
		&:visited {
			color: $darktext;
		}
	}
}



.search {
	margin: 0;
	height: 30px;
	vertical-align: middle;
	
	form {
		height: 30px;
	}
	
	input[type='text'] {
		background-color: $blue;
		border-radius: 20px;
		border: none;
		height: 30px;
		width: 120px;
		color: white;
		font-size: 16px;
		padding: 0 14px;
		margin-right: 2px;
		
		&::-webkit-input-placeholder { 
			color: $darktext;			
		}
	}
	
	input[type='image'] {
		vertical-align: top;
		width: 30px;
		height: 30px;
	}
}

.site-branding {
	float: left;
	color: white;
	height: 74px;
	width: auto;	
	margin: 15px 0 0 0;
	
	img {
		margin: 0;
	}
}

//======== NAVIGATION STYLE ========//

nav {
	height: 104px;
	width: auto;
	float: right;
	
	transition: height 0.4s linear;
	
	&:hover {
		height: 401px;
		
		.main-nav {
			opacity: 0.5;
		}
		
		.sub-nav {
			visibility: visible;
		}
	}
}

.main-nav {
	float: left;
	margin: 0;
	padding-left: 30px;
	opacity: 1;
	transition: opacity 0.2s ease-in;
		
	a {
	    display: block;
	    padding: 0;
	    font-size: 26px;
	    font-weight: 700;
	    line-height: 104px;
	    color: white;
	    text-decoration: none;
	    cursor: default;
	    		
	    &:visited {
	    	color: white;
	    }
	}
	
	ul {
		position: absolute;
	}
	
	li {
		font-family: $titlefont;
		list-style-type: none;
		margin: 0;
	}
}	

.sub-nav {
	visibility: hidden;
	height: 286px;
	margin-top: -25px;
	padding: 0 30px 0 0;
	opacity: 0;
	
	transition: opacity 0.2s ease;
	
	li {
		padding: 3px 0;
		color: white;
	}
	
	a {
	    font-family: $titlefont;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		cursor: pointer;
	    
	    &:hover {
		    text-decoration: underline;
	    }
	    
	    &:visited {
	    	color: white;
	    }
	}
}	

// affect the opacity of the other nav items when one is hovered

#elder-care, #aging, #care-options, #stories {

		&:hover {
			opacity: 1;	
		
			.sub-nav {
				opacity: 1;
		} 
	}
}

//======== HOME PAGE STYLE ========//

#home-contain {
	width: 80%;
	margin: 35px auto;
}

.feature {
	width: 65.9%;
	margin-right: 2.1%;
	height: 400px;
	float: left;
	background-size: cover;
	background-position: center center;
	
	div {
		width: 45%;
		margin: 25px;
	}
	
	h2 {
		color: $blue;
		font-size: 56px;
		line-height: 1;
	}
	
	p {
		color: black;
		font-size: 16px;
		padding: 5px;
		background-color: rgba(255,255,255,0.5);
	}
}

aside {
	width: 32%;
	float: right;
	
	
	
	h2 {
		text-align: center;
		font-size: 36px;
		margin-bottom: 15px;
	}
	
	ul {
		padding: 0;
		margin: 0;
		
		&:hover {
		
			div>i, h6, p {
				opacity: 0.5;
			}
		}
	}
	
	.fa {
		color: $blue;
	}
	
	a {
		display: block;
		
		&:hover {
			text-decoration: none;
			
			div>i, h6, p {
				opacity: 1;
			}
		}	
	}
	
	div {
		float: left;
		margin-right: 15px;
	}
	
	div>i {
		opacity: 1;
		transition: opacity 0.2s ease;
	}
		
	li {
		list-style-type: none;
		margin: 0;

		h6 {
			font-size: 18px;
			color: $blue;
			margin: 0 0 5px 0;
			opacity: 1;
			transition: opacity 0.2s ease;
		}
		
		p {
			font-size: 16px;
			opacity: 1;
			transition: opacity 0.2s ease;
		}
		
		&:hover {
			color: $lightblue;
		}
	}
    
    button {
		margin: 15px auto 0 auto;
		display: block;
	}
}

.boxes {
	width: 68%;
}

.box {
    width: 30.33%;
    height: 163px;
    margin: 3% 3% 3% 0;
    float: left;
    background-color: $blue;
	background-size: cover;
	background-position: right center;
    
    a {
		display: block;
		height: 163px;
		line-height: 163px;
		background-color: rgba(33,55,110,0.4);
		
		&:hover {
	    background-color: rgba(231,191,82,0.5);
		}
    }
    
    span {
		font-size: 28px;
		font-weight: 700;
		text-align: center;
	    color: white;
	    margin: 8%;
	    display: inline-block;
		vertical-align: middle;
		line-height: normal;
    }

}

//======== GENERIC PAGE STYLE ========//

.title {
	width: 100%;
	min-height: 260px;
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(246,252,255,1) 32%, rgba(211,239,254,1) 51%, rgba(161,206,242,1) 74%, rgba(119,179,231,1) 85%, rgba(78,148,219,1) 99%, rgba(78,148,219,1) 100%);
	text-align: center;
	line-height: 260px;
	
}

#page-nav-background {
	background-image: linear-gradient(rgba(145,177,221,1) 33.33%, rgba(177,195,221,1) 33.34%, rgba(177,195,221,1) 66.66%, rgba(194,206,221,1) 66.67%, rgba(194,206,221,1) 100%);
	position: absolute;
	height: 180px;
	width: 100%;
	z-index: 1;
}

.page-nav {
	width: 100%;
	min-height: 60px;
	background-color: rgba(0,0,0,0);
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: center;
	-webkit-flex-flow: row wrap;
	
	li {
		height: 60px;
		margin: 0;
		list-style-type: none;
		
		&:hover {
			background-color: rgba(255,255,255,0.5); 			
			
			a {
				color: $darkblue;
			}
		}
	}
	
	a {
		display: block;
		padding: 0 18px;
		line-height: 60px;
		color: white;
		font-family: $titlefont;
		font-weight: 400;
		font-size: 20px;
		text-decoration: none;
		
	}
	
	.current_page_item {
		background-color: white;
		
		a {
			color: $darkblue;
			font-weight: 700;
			
			&:hover {
				background-color: white;
			}
		}
	}
}

//======== USER GENERATED CONTENT ========//
//===== primarily set in global tags =====//

.entry-content {
	padding: 35px 0;
	position: relative;
	background-color: white;
	z-index: 10;
	
	ul {
		padding-left: 25px;
		
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	
	li {
		padding: 10px 0 0 13px;
		list-style-type: square;
		list-style-position: inside;
	}
	
	a {
		font-weight: 700;		
	}
	
}

#contain {
	width: 70%;
	margin: 0 auto;
}

.hentry {
	margin: 0;	
}



#more-info {
	margin: 15px 0 -35px 0;
	background-color: #e9e8e8;
	text-align: center;
	width: 100%;
	padding: 35px 0;
	
	h3 {
	
	}
	
	ul {
		padding: 0;
		margin: 0;
	}
	
	li {
		list-style-type: none;
		margin: 0 0 15px 0;	
		font-size: 26px;
		line-height: 100%;
		
	}
}

//======== FONT AWESOME ========//

.fa {
	line-height: inherit;
}

//======== WP ADMIN STYLE ========//

.entry-footer {
	background: white;
	text-align: left;
}

//======== 404 STYLE ========//

.large-search {
	width: 100%;
	text-align: center;
	padding: 35px 0;
	background-color: $lightblue;
	
	input[type='text'] {
		width: 240px;
		background-color: white;
		color: black;
	}
}


//======== FOOTER STYLE ========//

footer {
	width: 100%;
	background-color: $darkblue;
	color: white;
	
	div {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		-webkit-flex-flow: row wrap;
	}
	
	ul {
		list-style: none;
		padding: 35px 10px;
		max-width: 214px;
		
		li {
			margin: 0;
			padding: 3px 0;
			font-family: $titlefont;
			font-size: 20px;
			opacity: 1;
		}
		
		a {
			color: white;
			
			&:visited {
				color: white;
			}
		}	
	}
}

//======== MEDIA QUERIES ========//

@media only screen 
and (max-width: 1024px) {
	@import '1024';
}

@media only screen 
and (max-width: 768px) {
	@import '768';
}

@media only screen 
and (max-width: 480px) {
	@import '480';
}




