@import 'normalize';
@import 'wp_styles';

// ======== VARIABLES ======== //

$lightblue: #91B1DD; // RGB = 145,177,221
$blue: #21376E; // RGB = 33,55,110
$darkblue: #142858; // RGB = 20,40,88
$darktext: #ccc; // RGB = 204,204,204

$titlefont: 'PT Sans', sans-serif;
$bodyfont: 'Crimson Text', serif;

//======== GLOBAL TAG SELECTORS ========//

body {
	background-color: white;
	color: black;
	min-width: 320px;
}

hr {
	border: 0;
    height: 0;
    margin: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);	
}

h1,h2,h3,h4,h5,h6 {
	font-family: $titlefont;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 72px;
	color: $darkblue;
}

h2 {
	font-size: 46px;
	color: #565656;
}

h3 {
	font-size: 36px;
	color: $blue;
	margin: 20px 0;
}

h4 {
	color: #5b668b;
	font-family: $bodyfont;
	font-size: 29px;
	font-weight: 400;
	margin: 20px 0;
}

h5 {
	//Footer List Headers
	font-size: 24px;
}

h6 {
	font-size: 26px;
	margin: 25px 0 10px 0;
	
}


p {
	font-family: $bodyfont;
	font-size: 24px;
	color: #6d6e71;
	margin: 0;
}

span {

}

ul {
	font-family: $bodyfont;
}

ol {
	font-family: $bodyfont;
	
}

li {
	font-size: 24px;
	color: #6d6e71;
	margin: 10px 0;
}

button {
	font-family: $titlefont;
	padding: 0;
	font-size: 24px;
	margin: 20px 0;
	border: 1px $blue solid;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	
	&:hover {
			background-color: $blue;
			color: white;
			
			a {
				text-decoration: none;
				color: white;
			}
	}
	
	a {
		display: block;
		padding: 9px 20px;
		color: $blue;
	}
	
	
}

img {
	margin: 20px 0;
	height: auto;
	max-width: 100%;
}

a {
	color: $blue;
	text-decoration: none;
	line-height: 1;
	
	&:hover {
		text-decoration: underline;
	}
	
	&:visited {
		color: $blue;
	}
}

::selection {
		background-color: $lightblue;
		color: white;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//======== HEADER STYLE ========//

.header-contain {
	padding: 0 5%;
	margin: 0 auto;
	max-width: 2000px;
}

.header-super-contain {
	padding: 0 5%;
	margin: 0 auto;
	max-width: 2000px;
	background-color: $darkblue;
}

#fixed-nav {
	height: 40px;
	width: 100%;
	background: red;
	position: fixed;
	display: none;
	z-index: 19;
}

#header-wrapper {
	position: relative;
	height: 150px;
	z-index: 20;
	transform: translateZ(1px);
}

#nav-bar {
	background-color: $blue;
	width: 100%;
	min-height: 150px;
	position: absolute;
	transition: height 0.3s cubic-bezier(0.360, 0.060, 0.140, 1.450);
}

#super-nav {
	position: relative;
	width: 100%;
	height: 46px;
	background-color: $darkblue;
	
	ul {
		float: right;
		margin: 0;
		height: 30px;
		padding: 8px 0;
	}
	
	li {
		display: inline-block;
		vertical-align: middle;
		list-style-type: none;
		font-family: $bodyfont;
		font-size: 16px;
		margin: 0 0 0 8px;
	}
	
	a {
		color: $darktext;
		
		&:visited {
			color: $darktext;
		}
	}
}

.search {
	margin: 0;
	height: 30px;
	vertical-align: middle;
	
	form {
		height: 30px;
	}
	
	input[type='text'] {
		background-color: $blue;
		border-radius: 20px;
		border: none;
		height: 30px;
		width: 120px;
		color: white;
		font-size: 16px;
		padding: 0 14px;
		margin-right: 2px;
		border: 2px solid $blue;
		box-sizing: border-box;
		transition: border 0.7s ease;
		
		&::-webkit-input-placeholder { 
			color: $darktext;			
		}
		
		&:focus {
			border: 2px solid rgba(145,177,221,0.5);
		}
	}
	
	input[type='image'] {
		vertical-align: top;
		width: 30px;
		height: 30px;
	}
}

.site-branding {
	float: left;
	color: white;
	height: 80px;
	width: auto;	
	margin: 9px 0 0 0;
	
	img {
		margin: 0;
		height: 80px;
		width: 80px;
	}
	
	a {
		display: block;
	}
}
	
#slogan {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    line-height: 80px;
    color: white;
    
    span {
    	display: inline-block;
    	line-height: 1;
    	vertical-align: middle;
    	font-size: 30px;
    	font-weight: 700;
    	padding-left: 12px;
    	
    	span {
	    	font-weight: 400;
	    	padding: 0;
	    	
    	}
    }  
}

//======== NAVIGATION STYLE ========//

#menu-button {
	display: none;
}

.height {
	height: 350px !important;
}

nav {
	height: 104px;
	width: auto;
	float: right;
	transition: height 0.3s cubic-bezier(0.360, 0.060, 0.140, 1.450);
	
	&:hover {
		height: 401px;
		
		.main-nav {
			opacity: 0.5;
		}
		
		.sub-nav {
			visibility: visible;
		}
	}
}

.main-nav {
	float: left;
	margin: 0;
	padding-left: 25px;
	opacity: 1;
	transition: opacity 0.2s ease-in;
		
	a {
	    display: block;
	    padding: 0;
	    font-size: 26px;
	    font-weight: 700;
	    line-height: 104px;
	    color: white;
	    		
	    &:visited {
	    	color: white;
	    }
	}
	
	ul {
		position: absolute;
	}
	
	li {
		font-family: $titlefont;
		list-style-type: none;
		margin: 0;
	}
	
	hr {
		display: none;
	}
}	

.sub-nav {
	visibility: hidden;
	height: 286px;
	margin-top: -25px;
	padding: 0 30px 0 0;
	opacity: 0;
	
	transition: opacity 0.2s ease;
	
	li {
		padding: 3px 0;
		color: white;
	}
	
	a {
	    font-family: $titlefont;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		cursor: pointer;
	    
	    &:hover {
		    text-decoration: underline;
	    }
	    
	    &:visited {
	    	color: white;
	    }
	}
}	

// affect the opacity of the other nav items when one is hovered

#elder-care, #aging, #care-options, #stories {

		&:hover {
			opacity: 1;	
		
			.sub-nav {
				opacity: 1;
		} 
	}
}

//======== HOME PAGE STYLE ========//

#home-contain {
	width: 80%;
	margin: 23px auto;
}

.feature {
	width: 65.95%;
	margin-right: 2.05%;
	height: 400px;
	float: left;
	position: relative;
	background-size: cover;
	background-position: center center;
	
	div {
		width: 50%;
		margin: 23px;
	}
	
	h2 {
		color: $blue;
		font-size: 56px;
		line-height: 1;
	}
	
	p {
		color: black;
		font-size: 16px;
		background-color: rgba(255,255,255,0.5);
		margin: 7px;
		padding: 10px;
	}
	
	button {
		position: absolute;
		bottom: 0;
	}
}

aside {
	width: 32%;
	margin-top: 20px;
	float: right;
	
	h2 {
		text-align: center;
		font-size: 36px;
		margin-bottom: 15px;
	}
	
	ul {
		padding: 0;
		margin: 0;
		
		&:hover {
		
			div>i, h6, p {
				opacity: 0.5;
			}
		}
	}
	
	.fa {
		color: $blue;
	}
	
	a {
		display: block;
		
		&:hover {
			text-decoration: none;
			
			div>i, h6, p {
				opacity: 1;
			}
		}	
	}
	
	div {
		float: left;
		margin-right: 15px;
	}
	
	div>i {
		opacity: 1;
		transition: opacity 0.2s ease;
	}
		
	li {
		list-style-type: none;
		padding-top: 15px;
		margin: 0;

		h6 {
			font-size: 18px;
			color: $blue;
			margin: 0 0 5px 0;
			opacity: 1;
			transition: opacity 0.2s ease;
		}
		
		p {
			font-size: 16px;
			opacity: 1;
			transition: opacity 0.2s ease;
		}
		
		&:hover {
			color: $lightblue;
		}
	}
    
    button {
		margin: 17px auto 0 auto;
		display: block;
	}
}

.boxes {
	width: 68%;
	clear: left;
}

.box {
    width: 30.33%;
    height: 163px;
    margin: 3% 3% 0 0;
    float: left;
    background-color: $blue;
	background-size: cover;
	background-position: right center;
    
    a {
		display: block;
		height: 163px;
		line-height: 163px;
		background-color: rgba(33,55,110,0.4);
		
		&:hover {
	    	background-color: rgba(231,191,82,0.5);
		}
		
		&:focus {
	    	background-color: rgba(231,191,82,0.5);
		}
    }
    
    span {
		font-size: 28px;
		font-weight: 700;
		text-align: center;
	    color: white;
	    margin: 8%;
	    display: inline-block;
		vertical-align: middle;
		line-height: normal;
    }

}

//======== GENERIC PAGE STYLE ========//

#main {
	position: relative;
	width: 100%;
}

.title {
	width: 100%;
	text-align: center;
	margin: 23px 0;
	line-height: 1;	
}

.icon-fa {
	display: block;
	color: $blue;
	text-align: center;
}

.side-nav {
	width: 20%;
	height: 100%;
	padding-top: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $darkblue;
	
	a {
		color: white;
		font-size: 18px;
		letter-spacing: 0.8px;
		padding: 16px 16px 16px 25%;
		display: block;

		&:hover {
			background-color: rgba(145,177,221,0.8);
			text-decoration: none;
		}
	}
	
	li {
		list-style-type: none;
		margin: 0;
	}
	
	.current_page_item {
    	background-color: $lightblue;
    
		a {
			font-weight: 700;
		}
	}
}

.side-hero {
	width: 20%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	opacity: 0.3;
	background-size: cover;
	background-position: center center;
	
	img {
		margin: 0;
	}
}

//======== LANDING PAGE STYLE ========//

.landing-grid {
	max-width: 940px;
	margin: 23px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grid-item {
	width: 33%;
	min-width: 284px;
	margin: 3px 3px 0 0;
	
	a {
		display: block;
		background-color: #eff4f6;
		padding: 23px 0;
		
		&:hover {
			text-decoration: none;
			background-color: #dce7ec;
		}
	}
	
	.title {
		height: 72px;
		display: table;
		margin: 0 0 23px 0;
		
		h3 {
			display: table-cell;
			vertical-align: middle;
			padding: 0 3px;
		}
	}
}


//======== USER GENERATED CONTENT ========//
//===== primarily set in global tags =====//
.entry-content {
	min-height: 800px;
}

article {
	padding: 35px 0 0 0;
	width: 60%;
	margin: 0 20%;
	position: relative;
	background-color: white;
	
	ul {
		padding: 0;
		
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	
	li {
		padding: 10px 0 0 13px;
		list-style-type: square;
		list-style-position: inside;
	}
	
	a {
		font-weight: 700;		
	}
	
	img {
		width: 100%;
		height: auto;
	}
}

#contain {
	width: 90%;
	margin: 0 auto 45px auto;
	
	&.search-results {
		
		article {
			margin: 0 0 0 5%;
		}
	}
}

#more-info {
	margin: 15px 0 0 0;
	padding: 40px 2.5%;
	background-color: #e9e8e8;
	text-align: center;
	
	h3 {
	
	}
	
	ul {
		padding: 0;
		margin: 0;
	}
	
	li {
		list-style-type: none;
		margin: 0 0 20px 0;
		padding: 0;
		font-size: 26px;
		line-height: 100%;
		
	}
}

//======== FONT AWESOME ========//

.fa {
	line-height: inherit;
}

//======== WP ADMIN STYLE ========//

.entry-footer {
	background: inherit;
	text-align: left;
}

//======== 404 STYLE ========//

.large-search {
	width: 100%;
	text-align: center;
	padding: 35px 0;
	background-color: $lightblue;
	
	input[type='text'] {
		width: 240px;
		background-color: white;
		color: black;
		border: 2px solid $lightblue;
		
		&:focus {
			border: 2px solid $blue;
		}
	}
}


//======== FOOTER STYLE ========//

footer {
	width: 100%;
	background-color: $blue;
	color: white;
	position: relative;
	transform:translateZ(1px);
	
	div {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		-webkit-flex-flow: row wrap;
	}
	
	ul {
		list-style: none;
		padding: 35px 10px;
		max-width: 214px;
		
		li {
			margin: 0;
			padding: 3px 0;
			font-family: $titlefont;
			font-size: 20px;
			opacity: 1;
		}
		
		a {
			color: white;
			
			&:visited {
				color: white;
			}
		}	
	}
}

#sponsor {
	margin: 239px 0 0 0;
	
	h5 {
		font-size: 16px;
		font-weight: 400;
	}
	
	img {
		margin: 10px 0 0 0;
		width: 191px;
	}
	
	a {
		display: block;
	}
}

#mobile-footer {
	display: none;	
}

//======== MEDIA QUERIES ========//

@media only screen 
and (max-width: 1024px) {
	@import '1024';
}

@media only screen 
and (max-width: 768px) {
	@import '768';
}

@media only screen 
and (max-width: 675px) {
	@import '675';
}

@media only screen 
and (max-width: 480px) {
	@import '480';
}




