@import 'normalize';

// ======== VARIABLES ======== //

$blue: #21376E;
$darkblue: #142858;
$darktext: #ccc;

$titlefont: 'PT Sans', sans-serif;
$bodyfont: 'Crimson Text', serif;

//======== HEADER STYLE ========//

#header-wrapper {
	position: relative;
	width: 100%;
	height: 150px;
}

header[role="banner"] {
	width: 100%;
	background-color: $blue;
	min-height: 150px;
	position: absolute;
	overflow: hidden;
}

#super-nav {
	width: 100%;
	height: 46px;
	background-color: $darkblue;
	
	ul {
		float: right;
		margin: 0 25px;
		height: 30px;
		padding: 8px 0;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		list-style-type: none;
		font-family: $bodyfont;
		font-size: 16px;
		margin: 0 5px;
	}
	a {
		color: $darktext;
		text-decoration: none;
				
		&:visited {
			color: $darktext;
		}
	}
}

#search {
	margin: 0;
	height: 30px;
	vertical-align: middle;
	
	form {
		height: 30px;
	}
	input[type='text'] {
		background-color: $blue;
		border-radius: 20px;
		border: none;
		height: 30px;
		width: 120px;
		color: white;
		font-size: 16px;
		padding: 0 14px;
		margin-right: 2px;
		
		&::-webkit-input-placeholder { 
			color: $darktext;			
		}
	}
	
	input[type='image'] {
		vertical-align: top;
		width: 30px;
		height: 30px;
	}
}


.site-branding {
	float: left;
	color: white;
	height: 74px;
	width: auto;	
	margin: 15px 40px;
}


//======== NAVIGATION STYLE ========//

nav {
	margin-right: 20px;
	
	height: 104px;
	width: auto;
	float: right;
	transition: height 0.4s ease;
	
	&:hover {
		height: 401px;
		
		.main-nav {
			opacity: 0.5;
		}
	}
}

.main-nav {
	float: left;
	padding: 0 25px 0 0;
	margin: 0;
	opacity: 1;
	transition: opacity 0.2s ease-in;
		
	a {
	    display: block;
	    padding: 0;
	    font-size: 26px;
	    font-weight: 700;
	    line-height: 104px;
	    color: white;
	    text-decoration: none;
	    		
	    &:visited {
	    	color: white;
	    }
	}
	
	ul {
		padding: 0;
		position: absolute;
	}
	
	li {
		list-style-type: none;
	}
}	

.sub-nav {
	margin-top: -25px;
	opacity: 0;
	transition: opacity 0.2s ease;
	
	li {
		padding: 3px 0;
		color: white;
	}
	
	a {
	    font-family: $titlefont;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
	    &:visited {
	    	color: white;
	    }
	}
}	

#elder-care {

		&:hover {
			opacity: 1;	
		
			.sub-nav {
				opacity: 1;
		} 
	}
}

#aging {

		&:hover {
			opacity: 1;	
		
			.sub-nav {
				opacity: 1;
		} 
	}
}

#care-options {

		&:hover {
			opacity: 1;	
		
			.sub-nav {
				opacity: 1;
		} 
	}
}

#stories {

		&:hover {
			opacity: 1;	
		
			.sub-nav {
				opacity: 1;
		} 
	}
}

//======== GENERIC PAGE STYLE ========//

.title {
	width: 100%;
	min-height: 260px;
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(246,252,255,1) 32%, rgba(211,239,254,1) 51%, rgba(161,206,242,1) 74%, rgba(119,179,231,1) 85%, rgba(78,148,219,1) 99%, rgba(78,148,219,1) 100%);
	text-align: center;
	line-height: 260px;
	
}

.page-nav {
	width: 100%;
	min-height: 60px;
	background-color: #91B1DD;
	overflow: hidden;
	display: flex;
	justify-content: center;
	-webkit-flex-flow: row wrap;
	
	li {
		height: 60px;
		padding: 0 10px;
		list-style-type: none;
	}
	
	a {
		display: block;
		line-height: 60px;
		color: white;
		font-family: $titlefont;
		font-weight: 400;
		font-size: 20px;
		text-decoration: none;
		
		&:hover {
			color: $darkblue;
		}
	}
	
	.current_page_item {
		background-color: white;
		
		a {
			color: $darkblue;
			font-weight: 700;
			
		}
	}
}
#primary {
	width: 80%;
	margin: 0 auto;
}

//======== GLOBAL TAG SELECTORS ========//

body {
	background-color: white;
	color: black;
	zoom: 1;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 	
}

h1,h2,h3,h4,h5,h6 {
	font-family: $titlefont;
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 72px;
	color: $darkblue;
}

h2 {
	
	
}

h3 {
	
}

h4 {
	
}

h5 {
	font-size: 24px;
}

h6 {
	
}

button {
	font-family: $titlefont;
	
}
p {
	font-family: $bodyfont;
	color: black;
}

//======== FONT AWESOME ========//

.fa {
	color: black;
}

//======== WP ADMIN STYLE ========//

.entry-footer {
	background: white;
}

//======== FOOTER STYLE ========//

footer {
	width: 100%;
	background-color: $darkblue;
	color: white;
	
	div {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		-webkit-flex-flow: row wrap;
	}
	ul {
		list-style: none;
		padding: 0 10px;
		width: 210px;
		
		li {
			padding: 3px 0;
			font-family: $titlefont;
			font-size: 20px;
			opacity: 1;

		}
		
		a {
			text-decoration: none;
			color: white;
			
		}	
	}
}





